extends layout

block content
  .hero
    h1 Welcome to StudyBuddy
    p Find study partners, join sessions and collaborate with fellow students.
    div
      a.btn(href="/users") Find Buddies
      a.btn.btn-secondary(href="/sessions") View Sessions
