extends layout

block content
  section.hero
    h1 Welcome to StudyBuddy
    p Connect with fellow students, find study partners and join study sessions.
    a.btn(href="/users") Browse Study Buddies
    a.btn.btn-outline(href="/sessions") View Sessions
