doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/style.css")
  body
    nav.navbar
      a.brand(href="/") StudyBuddy
      ul
        li: a(href="/users") Browse Buddies
        li: a(href="/sessions") Study Sessions
        li: a(href="/tags") Topics
    main
      block content
    footer
      p &copy; 2026 StudyBuddy – Peer Support for Students
