extends layout

block content
  h1 Browse Topics
  p Click a topic to explore related study sessions.
  .tag-cloud
    each tag in tags
      a.tag(href="/sessions?tag=" + encodeURIComponent(tag.tag))
        | #{tag.tag}
        span.badge= tag.total
