extends layout

block content
  h1 Browse by Topic
  p Click a topic to filter study sessions.

  .tag-grid
    each tag in tags
      a.tag-pill(href="/sessions?tag=" + encodeURIComponent(tag.tag))
        span.tag-name= tag.tag
        span.tag-count  (#{tag.count})
